<ion-view view-title="Local Notification">
  <ion-content>
    
    <div class="list">
        <label class="item item-input padding">
            <button class="button button-block ion-search" ng-click="criarNotificacao()">
                Criar Notificação
            </button>
          </label>
    </div>        
      
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right item item-text-wrap"  type="item-text-wrap" ng-repeat="notificacao in notificacoes" href="#">      
            <strong>{{notificacao.id}}</strong><br>
            <strong>{{notificacao.title}}</strong><br>
            <strong>{{notificacao.text}}</strong><br>
            <strong>{{notificacao.at * 1000 | date: "dd/MM/yyyy hh:mm"}}</strong><br>
            <strong>{{notificacao.data}}</strong><br>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="excluirNotificacao({{notificacao}})">
            Excluir
        </ion-option-button>			
      </ion-item>
    </ion-list>       
  </ion-content>
</ion-view>
